<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="MyApp" packages="">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{DEFAULT} %p [%t]  %m%n"/>
        </Console>
        <Async name="Async">
            <AppenderRef ref="STDOUT"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>